.layout-topbar {
    position: fixed;
    height: 11.5rem;
    z-index: 997;
    left: 0;
    top: 0;
    width: 100%;
    padding: 5px 50px;
    background-color: var(--surface-card);
    align-items: center;
    border-bottom: 2px solid var(--surface-300);
    box-shadow: 0px 3px 5px rgba(0,0,0,.02), 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08);
    transition: left $transitionDuration;


    .layout-topbar-price {
        display: flex;
        align-items: center;
        color: var(--surface-900);
        width: 500px;
        
        img {
            height: 1.6rem;
            margin-right: 0.3rem;
        }

        &:focus {
            @include focused();
        }
    }

    .layout-topbar-logo {
        display: flex;
        align-items: center;
        color: var(--surface-900);
        font-size: 1.5rem;
        font-weight: 800;
        width: 140px;
        border-radius: 12px;
        .btc {
            color: var(--orange-400);
        }
        .paw {
            color: var(--orange-700);
            font-size: 1.4rem;
        }
        img {
            height: 2.5rem;
            margin-right: .5rem;
        }

        &:focus {
            @include focused();
        }
    }


    .layout-topbar-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        border-bottom: 1px solid var(--surface-border);

        .layout-topbar-top-logo {
            display: none;          
        }    
        .layout-topbar-top-info,
        .layout-topbar-top-setting {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .layout-topbar-top-info {
            width: 30rem;
        }

        .layout-topbar-top-info span {
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
        }

        .layout-topbar-top-setting {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-width: 108px;
            max-width: 150px;
            width: 150px;

            .p-dropdown {
                min-width: 90px;
                max-width: 110px;
            }
        }
    }

    .layout-topbar-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        width: 100%;

        .layout-topbar-body-menubar {
            display: flex;
            width: 100%;
        }

        .layout-topbar-body-menubar .p-menubar-root-list {
            width: 900px;
        }
    
        .layout-topbar-body-menubar .p-menubar-end {
            width: 70%;
        }

        .layout-topbar-body-menubar-end {
            width: 100%;
        }
        .layout-topbar-body-search .p-input-icon-left{
            width: 100%;
        }
        
        .layout-topbar-body-search .p-inputtext {
            width: 100%;
            border-radius: 10px;
        }
    }
 

    .layout-topbar-button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: var(--text-color-secondary);
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        transition: background-color $transitionDuration;

        &:hover {
            color: var(--text-color);
            background-color: var(--surface-hover);
        }

        &:focus {
            @include focused();
        }

        i {
            font-size: 1.5rem;
        }

        span {
            font-size: 1rem;
            display: none;
        }
    }

    .layout-menu-button {
        margin-left: 2rem;
    }

    .layout-topbar-menu-button {
        display: none;

        i {
            font-size: 1.25rem;
        }
    }

    .layout-topbar-menu {
        margin: 0 0 0 auto;
        padding: 0;
        list-style: none;
        display: flex;

        .layout-topbar-button {
            margin-left: 1rem;
        }
    }
}

@media (max-width: 1150px) {
    .layout-topbar {
        justify-content: space-between;
        padding: 5px 5px;

        .p-menubar-start {
            display: none;
        }
    
        .layout-menu-button {
            margin-left: 0;
            order: 1;
        }

        .layout-topbar-menu-button {
            display: inline-flex;
            margin-left: 0;
            order: 3;
        }

        .layout-topbar-top {
    
            .layout-topbar-top-logo {
                display: inline;          
            }  
            .layout-topbar-top-info {
                // display: none;
                width: 0;
                min-width: 150px;
                max-width: 200px;
            }
    
            .layout-topbar-top-info .flex.flex-row > span {
                display: none;
            }
    
        }


        .layout-topbar-menu {
            margin-left: 0;
            position: absolute;
            flex-direction: column;
            background-color: var(--surface-overlay);
            box-shadow: 0px 3px 5px rgba(0,0,0,.02), 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08);
            border-radius: 12px;
            padding: 1rem;
            right: 2rem;
            top: 5rem;
            min-width: 15rem;
            display: none;
            -webkit-animation: scalein 0.15s linear;
            animation: scalein 0.15s linear;

            &.layout-topbar-menu-mobile-active {
                display: block
            }

            .layout-topbar-button {
                margin-left: 0;
                display: flex;
                width: 100%;
                height: auto;
                justify-content: flex-start;
                border-radius: 12px;
                padding: 1rem;

                i {
                    font-size: 1rem;
                    margin-right: .5rem;
                }

                span {
                    font-weight: medium;
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .layout-topbar {
        height: 11rem;
        .layout-topbar-top {
            padding: 10px;
            .layout-topbar-top-logo {
                width: 50px;
            }  
        }
        .layout-topbar-body {
            .layout-topbar-body-menubar {
                padding: 16px 1px 10px 1px;
            }
        }
    }
}

@media (max-width: 961px) {
    .layout-topbar {
        .layout-topbar-body {
            .layout-topbar-body-menubar .p-menubar-end {
                width: 100%;
                margin-right: 0.5rem;
            }
        }
    }
}


@media (max-width: 450px) {
    .layout-topbar {
        height: 10rem;
        .layout-topbar-top {
            padding: 5px;
            .layout-topbar-top-logo {
                width: 35px;
            }  
            .layout-topbar-top-info {
                max-width: 100px;
                .layout-topbar-price {
                    img {
                        display: none;
                    }
                }
                
            }
        }
    }
}

