@use "./_variables" as variables;

/* Utils */
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.card {
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: variables.$borderRadius;

    &:last-child {
        margin-bottom: 0;
    }
}

.p-toast {
    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 100px;
    }
}

.data-shorten-1450 {
    display: none;
}
.data-shorten-1200 {
    display: none;
}
.data-shorten-950 {
    display: none;
}
.data-shorten-650 {
    display: none;
}
.data-shorten-600 {
    display: none;
}
.data-shorten-500 {
    display: none;
}
.data-shorten-400 {
    display: none;
}

@media (max-width: 1450px) {
    .data-non-shorten-1450 {
        display: none;
    }
    .data-shorten-1450 {
        display: block;
    }
}
@media (max-width: 1200px) {
    .data-non-shorten-1200 {
        display: none;
    }
    .data-shorten-1200 {
        display: block;
    }
}
@media (max-width: 950px) {
    .data-non-shorten-950 {
        display: none;
    }
    .data-shorten-950 {
        display: block;
    }
}
@media (max-width: 650px) {
    .data-non-shorten-650 {
        display: none;
    }
    .data-shorten-650 {
        display: block;
    }
}
@media (max-width: 600px) {
    .data-non-shorten-600 {
        display: none;
    }
    .data-shorten-600 {
        display: block;
    }
}
@media (max-width: 500px) {
    .data-non-shorten-500 {
        display: none;
    }
    .data-shorten-500 {
        display: block;
    }
    .card {
        padding: 1rem;
    }
}
@media (max-width: 400px) {
    .data-non-shorten-400 {
        display: none;
    }
    .data-shorten-400 {
        display: block;
    }
}